{% set css %}
{% include "./nav.css" %}
{% endset %}
<style>
  {{css | cssmin |  safe}}
</style>

{% set js %}
{% include "./nav.js" %}
{% endset %}
<script defer>
  {{ js | jsmin | safe }}
</script>

<nav>

  <a href="/" class="nav-home" title="Rohan" role="menuitem">
    <span>
      {% include "rohan-logo.njk" %}
    </span>
    <span>
        ohan
      </span>
  </a>
  <ul class="nav-desktop" role="menu">
    {% for entry in collections.all | eleventyNavigation %}
      <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
        <a
            href="{{ entry.url | url }}"
            role="menuitem"
          >
          {{ entry.title }}
        </a>
      </li>
    {% endfor %}
    <li class="nav-item">
      <a href="{{ '/resume' | url }}" target="_blank" rel="nooponer noreferrer" role="menuitem">
          Resume
        </a>
    </li>
    <svg class="triangle-accent" width="21" height="24" viewBox="0 0 21 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.69101 17.8176L12.4594 19.8117L3.60965 20.7961L6.79827 11.2466L7.37947 15.9166L7.54026 17.2086L8.69101 17.8176Z" stroke="#C6F0A5" stroke-opacity="0.29" stroke-width="5"/>
    </svg>

  </ul>
  <div class="dropdown nav-mobile">
    <button class="nav-dropdown-button" id="dropdown-btn" aria-expanded="false">
      Menu
    </button>
    <ul class="dropdown-menu" id="dropdown-menu">
      {% for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
          <a
          href="{{ entry.url | url }}"
          role="menuitem"
        >
            {{ entry.title }}
          </a>
        </li>
      {% endfor %}
      <li class="nav-item">
        <a href="{{ 'https://drive.google.com/file/d/1mgUeRIc_Ep_yOsh1MhNgfurGwZdqOD3f/view?usp=share_link' | url }}" target="_blank" rel="nooponer noreferrer" role="menuitem">
          Resume
        </a>
      </li>
    </ul>
  </div>

</nav>