---
title: Home | Rohan Faiyaz Khan
---
{% extends "layouts/landing.njk" %}

{% block heroine %}
  <h1 class="font-heading">Hi, my name is Rohan<small class="pronouns"> (they/them) </small>
  </h1>
    <p>I am a Masters in Computing student at Queen’s University, Canada and am originally from Dhaka, Bangladesh.</p>

    <p>My research interests involve the ethics and fairness of AI and technology.
      I look at technology from a post-colonial, anti-racist and anti-queerphobic lens and
      aspire to see a world where technology can be tools that benefit marginalized communities.</p>

    <p>Previously I have worked as a Frontend web developer for <a href="https://xen.works">Xen Works</a> 
      and I still share interests in and love to write about web technologies.</p>
{% endblock %}