---
title: Home | Rohan Faiyaz Khan
---
{% extends "layouts/landing.njk" %}

{% block heroine %}
  <h1 class="font-heading">Hi, my name is Rohan
    {# <small class="pronouns"> (they/them) </small> #}</h1>
  <p>I am a Masters in Computing student at Queen’s University, Canada and am originally from Dhaka, Bangladesh.</p>

  <p>
      Previously I have worked as a Frontend web developer for <a href="https://xen.works">Xen Works</a> and have more than 2 years of industry experience in this role. 
      Over my early career I have had the fortune of working under brilliant team leads who have drilled into me the importance of clean, 
      readable and maintainable code. I like to think of myself as framework agnostic and have strong enough fundamentals in basic web technologies that I can quickly adapt to
      whatever framework is needed. I also care deeply about UI/UX and hope to create a more accessible web.
    </p>

{% endblock %}