<ul class="postlist">
    {% for post in postslist | reverse %}
        <li>
            <article>
                <h3 class="post-heading">
                    <a href={{post.url | url}}>{{post.data.title}}</a>
                </h3>
                <p class="post-date">Written on {{post.date | readableDate}}</p>
                {% set tags = post.data.tags %}
                {% include "components/tagslist/tagslist.njk" %}

                {%- if post.data.excerpt %}
                    <p class="post-excerpt">{{ post.data.excerpt | toHTML | safe}}</p>
                {% elif post.data.page.excerpt -%}
                    <p class="post-excerpt">{{ post.data.page.excerpt | toHTML | safe}}</p>
                {%- endif -%}
            </article>
        </li>
    {% endfor %}
</ul>